<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSkVbggvfJfvD00AUd9QjwE6I0UWxxil8</string>
	<key>GCM_SENDER_ID</key>
	<string>974236402882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.jarvishealth</string>
	<key>PROJECT_ID</key>
	<string>jarvis-health-25</string>
	<key>STORAGE_BUCKET</key>
	<string>jarvis-health-25.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974236402882:ios:b2f5418b0a4bb7851ba75b</string>
</dict>
</plist>