rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /terra/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /daily/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /daily/{parent}/running/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/running/{document} {
      allow read: if true;
    }


    match /daily/{parent}/resting/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/resting/{document} {
      allow read: if true;
    }

  }
}
